# Default ignored files
/../../proyecto compiladores /.idea/shelf/
/../../proyecto compiladores /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../proyecto compiladores /.idea/httpRequests/
# Datasource local storage ignored files
/../../proyecto compiladores /.idea/dataSources/
/../../proyecto compiladores /.idea/dataSources.local.xml
